// Custom.scss
// Option B: Include parts of Bootstrap

// Required
// @import "node_modules/bootstrap/scss/functions";
// @import "node_modules/bootstrap/scss/variables";
// @import "node_modules/bootstrap/scss/mixins";

// // Optional
// @import "node_modules/bootstrap/scss/reboot";
// @import "node_modules/bootstrap/scss/type";
// @import "node_modules/bootstrap/scss/images";
// @import "node_modules/bootstrap/scss/code";
// @import "node_modules/bootstrap/scss/grid";

@import "node_modules/bootstrap/scss/bootstrap";

@import "sidebar";

$light-gray: #e5e9f8;

.bg-light-gray {
  background-color: $light-gray;

}


body {

  background-color: $light-gray;
}

.wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
}

.content {
  display: block;
  width: 100%;
  max-width: 900px;
  padding: 2rem;


}

.topic-card {
  display: flex;
  flex-direction: row;
  padding: 1rem;
}

.write-message {

  width: 100%;
  border: none;
}


.profile-pic {

  height: 48px;
  width: 48px;
  border-radius: 100%;
}

.card-message:nth-of-type(odd) {

  &-body {
    flex-direction: row-reverse;
  }

  &-footer {
    //
  }


}


// .card-message:nth-child(odd) .card-body {
//   flex-direction: row-reverse;

// }

// .card-message:nth-child(even) .card-body {
//   flex-direction: row;

// }


// .card-message {

//   &-body:nth-child(odd) {
//     flex-direction: row;
//     color: red;
//   }

//   // &-footer {
//   //   //
//   // }


// }